doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel='stylesheet', href='./css/d-17.css')
  body
    #boxes
      h1 Portfolio
      h6 Number of Shares
      input#shares(type='text')
      h6 Symbol
      input#symbol(type='text')
      button#get Get Position
    #container


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-17.js')
