doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Sum Quotes
    link(rel='stylesheet', href='./css/d-19.css')
  body
    h1 Sum Quotes
    input#symbol(type='text')
    button#get Get Quotes
    #container


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-19.js')
