doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Weather Demo
    link(rel='stylesheet', href='./css/d-22.css')
  body
    #controls
      h1 Weather Demo
      input#zip(type='text')
      button#get Get Weather
    #weather


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-22.js')
