doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Wind Speed Gauge
    link(rel='stylesheet', href='./css/d-24.css')
  body
    #controls
      h1 Wind Speed Gauge
      input#zip(type='text')
      button#get Get Wind Speed!
    #gauge


    script(src='./js/vendor/jquery-2.1.0.js')

    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/gauge.js')
    script(src='http://www.amcharts.com/lib/3/themes/none.js')
    script(src='./js/source/d-24.js')
