doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title 10 Day Forecast
    link(rel='stylesheet', href='./css/d-26.css')
  body
    #controls
      h1 10 Day Forecast
      input#zip(type='text', placeholder='zipcode')
      button#get Get Forecast
    #forecast


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-26.js')
